
{% extends 'core/base.html' %}
{% load static %}

{% block content %}
 <div class="mt-5">
   <div class=" text-center ">
     <img src="{% static 'core/images/pic1.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   </div>
  <div class=" mt-5 text-white mx-4 text-justify">
    <h1 class="font-weight-bold st-font">Hello,</h1>
     <div class="px-4" style="line-height:2rem;" >
       <p style="text-indent:100px;">I am <b class="text-warning">Amiya Kumar Dash</b> , a logical and results-driven <b class="text-warning"> full stack developer </b>dedicated to building and optimizing user-focused websites and applications .
         Judicious and creative when crafting effective websites, apps and platforms to propel competitive advantage and revenue growth.
          Technically proficient and analytical problem solver with calm and focused demeanor.

         I own <b class="text-warning"> 3 projects</b> named <b class="text-warning">StyleHunt</b> <b class="text-info">(e-commerce site)</b>,<b class="text-warning">MusicWorld</b> <b class="text-info">(Music site)</b> and a <b class="text-warning">Portfolio website</b> from initial research and conceptual design through testing and implementation phases.
          Capable of developing user-oriented visuals and features using front-end languages, including  <b class="text-warning">HTML</b>,  <b class="text-warning">CSS</b> and  <b class="text-warning">JavaScript</b>.
          Pulled from  <b class="text-warning"> Python</b>, <b class="text-warning">JavaScript</b> and other backend library knowledge with frame work  <b class="text-warning">Django</b> to bolster programming resources.</p>
         </div>

  </div>
    <div class="text-center">
      <a href="{% url 'contact'%}" class="btn btn-outline-warning  my-3 mr-5">Hire Me</a>
      <a href="{% url 'contact'%}" class="btn btn-outline-info my-3">Contact</a>

    </div>

 </div>
{% endblock content %}
